div:hover {
    border: 2px solid #ff4500;
}

div:nth-of-type(1) {
    background-color: #ff4500;
}

div:nth-of-type(2) {
    background-color: blue;
}

div:nth-of-type(3) {
    background-color: black;
}

div:nth-of-type(4) {
    background-color: green;
}

div:nth-of-type(5) {
    background-color: red;
}

h3:nth-of-type(1) {}