div:hover {
    border: 2px solid #ff4500;
}

div:nth-of-type(1) {
    background-color: red;
}

div:nth-of-type(2) {
    background-color: green;
}

div:nth-of-type(3) {
    background-color: yellow;
}

div:nth-of-type(4) {
    background-color: grey;
}

div:nth-of-type(5) {
    background-color: lightblue;
}